<header class="header-area">

    <div class="main-navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <h3 class="heading">Blush & Bloom</h3>
                        </a>
                    </div>
                    <!-- <div class="side-option-responsive">
                        <a href="#" class="side-option-button">

                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                        </a>

                    </div> -->
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <h3 class="heading">Blush & Bloom</h3>

                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}" class="nav-link toggle">Home</a>
                              
                            </li>
                            <li class="nav-item">
                                <a routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}" class="nav-link">About</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link toggle"  routerLink="/services" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}">Services</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" routerLink="/gallery" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}">Gallery</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" routerLink="/expert" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}">Our Expert</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" routerLink="/faq" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}">FAQ</a>

                            </li>

                            <li class="nav-item">
                                <a routerLink="/contact" class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/appointment" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                                    true}" class="nav-link">Appointment</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>

</header>