<section id="appointment" class="appointment-section style-two ptb-100">
  <div class="container">
    <div class="appointment-form">
      <div class="content">
        <h3 class="title">Make Appointment</h3>
        <p class="text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem.
        </p>
      </div>
      <form id="contactForm" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                minlength="3"
                name="name"
                [(ngModel)]="name"
                required
                placeholder="Full Name"
              />
              <div
                *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert"
              >
               <h3 >name req</h3> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="tel"
                name="phone"
                class="form-control"
                required
                name="phone"
                [(ngModel)]="phone"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="service"
                class="form-control"
                required
                name="serviceName"
                [(ngModel)]="serviceName"
                placeholder="Service Name"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="time"
                class="form-control"
                required
                name="time"
                [(ngModel)]="time"
                placeholder="Time"
              />
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <button type="submit" class="primary-btn" [disabled]="!f.valid" >submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>