<div class="page-title-area">
    <div class="container">
    <div class="page-title-content">
    <h1>Gallery of Inspirations</h1>
    <ul>
    <li class="item"><a routerLink="/">Home</a></li>
    <li class="item active"><span></span>Gallery</li>
    </ul>
    </div>
    </div>
    <div class="bg-image">
    <img src="assets/images/page-title/gallery.jpg" alt="Demo Image">
    </div>
    </div>
    
    <div class="gallery-single-area">
    
    <section id="gallery" class="gallery-section-three ptb-100 pb-70">
    <div class="container" id="container">
    <div class="section-title style-two">
    <h2>Gallery</h2>
    <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
    </p>
    </div>
    <div class="nav-tabs-navigation style-three">
    <ul class="nav" id="filterControl">
    <li class="nav-link filter-btn" data-filter="all">All</li>
    <li class="nav-link filter-btn" data-filter=".spa-health">spa & health</li>
    <li class="nav-link filter-btn" data-filter=".hair">hair</li>
    <li class="nav-link filter-btn" data-filter=".makeup">makeup</li>
    </ul>
    </div>
    <div class="row" id="grid">
    <div class="grid-item col-sm-12 col-md-6 col-lg-4 hair">
    <div class="card mb-30">
    <div class="image">
    <img src="assets/images/gallery/g6.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Cellulite Removal</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    <div class="grid-item col-sm-12 col-md-6 col-lg-4 hair">
    <div class="card mb-30">
    <div class="image">
    <img src="assets/images/gallery/g7.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Hair Treatment</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    <div class="grid-item col-sm-12 col-md-12 col-lg-4 makeup">
    <div class="card mb-30">
    <div class="image">
     <img src="assets/images/gallery/g8.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Sugar Scrubs</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    <div class="grid-item col-sm-12 col-md-12 col-lg-8 hair makeup">
    <div class="card mb-30">
    <div class="image">
    <img src="assets/images/gallery/g9.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Body Wraps</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    <div class="grid-item col-sm-12 col-md-6 col-lg-4 makeup spa-health">
    <div class="card mb-30">
    <div class="image">
    <img src="assets/images/gallery/g10.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Hair Cleaning</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    <div class="grid-item col-sm-12 col-md-6 col-lg-4 makeup spa-health">
    <div class="card mb-30">
    <div class="image">
    <img src="assets/images/gallery/g11.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Sugar Scrubs</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    <div class="grid-item col-sm-12 col-md-12 col-lg-8 spa-health">
    <div class="card mb-30">
    <div class="image">
    <img src="assets/images/gallery/newsletter1.jpg" alt="Demo Image">
    </div>
    <div class="content">
    <h3 class="title"><a routerLink="/services">Spa Manicures</a></h3>
    <p class="text">Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy.</p>
    <a routerLink="/services" class="primary-btn">View Details</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
     
    
    <section id="appointment" class="appointment-section ptb-100">
        <app-appointment-form></app-appointment-form>
    </section>
    
    </div>